.title {
    padding-top: 3rem;
}

.double-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex: 1;
    /* min-width: 200px;
    max-width: 50%; */
}
.inner-card {
    flex: 1;
    min-width: 200px;
    max-width: 50%;
}

@media screen and (max-width: 1200px) {
    .card-container {
        max-width: 100%;
    }
    
    SkillCard {
        max-width: 80%;
    }

    .double-card {
        flex-direction: column;
        max-width: 100%;
        flex-basis: auto;
        align-items: center;
        justify-content: center;
    }
    .inner-card {
        max-width: 100%;
        flex-basis: auto;
    }
}