.title {
    padding-top: 3rem;
}

.double-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.inner-card {
    flex: 1;
    min-width: 10%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    padding: 0;
}
  

@media screen and (max-width: 1200px) {
    .card-container {
        max-width: 100%;
    }
    
    SkillCard {
        max-width: 80%;
    }

    .double-card {
        flex-direction: column;
        max-width: 100%;
        flex-basis: auto;
        align-items: center;
        justify-content: center;
    }
    .inner-card {
        max-width: 100%;
        flex-basis: auto;
    }
}